.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }

  &__item {
    flex: 1;
    padding: 0 3%; 
    position: relative;

    @include phones {
      padding: 0;
      margin-bottom: 19px;
    }

      &::before {
        position: absolute;
        content: url('../img/decor/circles.png');
        right: 0;
        transform: translateX(50%);
        top: 20%;

          @include tablets {
            content: none;
          }
      }

      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;

          &::before {
            display: none;
          }
      }
  }
}


