.benefits-section {
  position: relative;
  background: url('../img/decor/серый\ лист.png') left center no-repeat;
  position: relative;;

  @include tablets {
    background-position: left top 19%;
  }

  @include phones {
    background: none;
  }

}