$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints
$tablets: 768px;
$phones: 480px;


// z-index
$z-fixed-menu: 100;

//colors
$blue: #61C4D9;
$darkGreen: #365A49;

@import "media.scss";

//setup
@import "layout"; 

//components 
@import "hero";
@import "header";
@import "features";
@import "btn";
@import "section";
@import "headline";
@import "benefits";
@import "benefit";
@import "benefits-section";
@import "reviews-section";
@import "reviews";
@import "interactive-avatar";
@import "order-section";
@import "form.scss";
@import "radio.scss";
@import "fixed-menu.scss";
@import "hamburger.scss";

@import "footer-section.scss";
@import "map.scss";
@import "socials.scss";
@import "sprite-icons.scss";
