.order-section {
  position: relative;
  background: url('../img/background/order.png') center center / cover no-repeat;

    &::before {
      position: absolute;
      content: url('../img/decor/ягода.png');
      left: 2%;
      bottom: 4%;
    }

    &::after {
      position: absolute;
      content: url('../img/decor/лист-3.png');
      right: 2%;
      bottom: 4%;
    }
}

.order-section__title {
  color: #365A49;
  margin-bottom: 53px;
}