.products-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: #F8FAF9;

  &::before {
    position: absolute;
    content: url('../img/decor/малина\ .png');
    left: 0;
    top: rem(-212px);
    
    @include phones {
      display: none;
    }
  }
  
}

.product {
  display: flex;
  margin: 0;
  position: relative;
}

.slider__item {
  display: flex;
  align-items: center;

  @include tablets {
    flex-direction: column;
  }
}

.product__col {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
    align-items: center;
  }
}

.product__row {
  flex: 1.3;

  @include tablets {
    flex: 1;
    margin-bottom: rem(-6px);
  }

  @include phones {
    margin-bottom: rem(-15px);
  }
}

.product__img {
  position: absolute;
  top: rem(-173px);
  right: rem(29px);

 @include tablets {
  position: static;
  max-width: 100%;
  width: 78%;
 }
}

.product__title {
  text-align: start;
  font-size: rem(36px);
  line-height: 1.2;
  margin-bottom: rem(23px);

  @include tablets {
    font-size: rem(30px);
    line-height: 1;
    text-align: center;
    margin-bottom: rem(17px);
  }

  @include phones {
    line-height: 1.4;
    padding: 0 5%;
    margin-bottom: rem(11px);
  }
}

.product__desc {

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product__desc-text {
  font-size: rem(18px);
  line-height: 1.2;
  color: #666;
  margin-bottom: rem(26px);
  padding-right: rem(47px);

  @include tablets {
    padding: 0 14%;
    text-align: center;
    margin-bottom: rem(23px);
    line-height: 1.4;
  }

  @include phones {
    padding: 0 12%;
  }
}

.product__list {
  display: flex;
  margin-bottom: rem(29px);

  @include tablets {
    padding-right: 3%;
  }
}

.product__item {
  margin-right: rem(45px);
  display: flex;
  flex-direction: column;
  line-height: 1;

  &:last-child {
    margin-right: 0;
  }

  span {
    color: #666;
    margin-bottom: rem(6px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  b {
    color: #000;
  }

  @include tablets {
    margin-right: rem(52px);
  }
}

.product__order {
  display: flex;
  align-items: center;
  

  @include tablets {
    justify-content: center;
    padding-left: rem(16px);
  }
}

.product__price {
  color: #151515;
  font-size: rem(60px);
  font-weight: 300;
  line-height: 1;
  margin-right: rem(31px);
  white-space: nowrap;

  @include tablets {
    margin-right: rem(34px);
  }
}

