.reviews-section {
  background: url('../img/decor/ягоды-1.png') right 2% top 8% no-repeat;
  position: relative;
  align-items: center;
  
  @include phones {
    background: none;
  }

  &::before {
    content: "";
    background: url("../img/decor/узор-2.png") center center / contain no-repeat;
    position: absolute;
    left: 0;
    bottom: rem(-175px);
    z-index: 1;
    width: rem(102px);
    height: rem(321px);

    @include phones {
      background: none;
    }
  }

  &::after {
    content: "";
    background: url("../img/decor/ягоды-2.png") center center / contain no-repeat;
    width: rem(135px);
    height: rem(193px);
    position: absolute;
    left: 0;
    bottom: rem(-100px);
    z-index: 2;

    @include phones {
      background: none;
    }
  }

}

.reviews-section__title {
  margin-bottom: rem(26px);
}