.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--font--color--green {
    color: #497870;
  }
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 68px; 
  text-align: center;
  text-transform: uppercase;
}
