.features {
  display: flex;
}

.features__item {
  margin-right: rem(46px);

    &:last-child {
      margin-right: 0;
    }
}

.feature__item {
  width: rem(45px);
  margin-right: rem(7px);
}

.feature {
  display: flex;
}

.feature__icon {
  margin-right: rem(10px);
  min-width: 33%;
  flex-shrink: 0;
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(85px);
  line-height: 1.2;
}