.btn {
  font-size: rem(16px);
  font-weight: 800;
  padding: rem(22px) rem(41px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;

      &--theme--white {
        background: #fff;
        color: $darkGreen;

          &:hover {
            color: #fff;
            background: $darkGreen;
          }
      }

      &--theme--dark--green {
        background: $darkGreen;
        color: #fff;
        // border: 1px solid $darkGreen;

          &:hover {
            background: #fff;
            color: $darkGreen;
            border: 1px solid $darkGreen;
          }
      }

      &--theme--green {
        background: #2E4E3F;
        color: #fff;
        
        &:hover {
          background: #fff;
          color: #2E4E3F;
        }

        &--two {
          background: #fff;
          color: #2E4E3F;

          &:hover {
            background: #2E4E3F;
            color: #fff;
          }
        }
      }

      &--theme--bright-green {
        background: #497870;
        color: #fff;
        border: 1px #497870 solid;
        
        &:hover {    
          background: #fff;
          color: #497870;
          border: 1px #497870 solid;
        }
      }

      &--theme--transparent {
        background: transparent;
        color: #497870;
        text-transform: none;
        font-weight: 400;
        padding: rem(18px) rem(2px);

          &:hover {
            color: #365A49;
            text-decoration: underline;
          }
      }
}