.hero {
  background: url('../img/decor/узор\ 1.png') right bottom no-repeat;
  background-color: $blue;
  height: 100vh;
  min-height: rem(652px);
  color: #fff;
  position: relative;

  @include tablets {
    background-position: right -4% bottom 121%;
    background-size: contain;
  }

  &::before, &::after {
    @include tablets {
      display: none;
    }
  }

  &::before {
    position: absolute;
    content: url('../img/decor/Лист\ 1.png');
    bottom: rem(-41px);
    left: 2%;   
  }

  &::after {
    position: absolute;
    content: url('../img/decor/comp.png');
    bottom: rem(-55px);
    right: 0;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(45px);
  background: url('../img/decor/Батончики.svg') right center / 50% auto no-repeat;

  @include tablets {
    background: none;
  }
}

.hero__title-section {
  width: 46%;
 
  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::before {
      content: "";
      width: rem(316px);
      height: rem(338px);
      background: url('../img/tablets/comp.png') center center / contain no-repeat;;
      margin-bottom: rem(20px);
    }
  }
}

.hero__main-title {
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: rem(15px);
  text-transform: uppercase;
  font-size: rem(48px);

  @include tablets {
    margin-bottom: rem(7px);
  }

  @include phones {
    line-height: 1;
    font-size: rem(36px);
  }
}

.hero__title-desc {
  font-size: rem(21px);
  margin-bottom: rem(28px);
  padding-right: 14%;
  margin-bottom: rem(45px);

  @include tablets {
    padding: 0 27%;
    margin-bottom: rem(24px);
  }

  @include phones {
    padding: 0 15%;
    font-size: rem(18px);
    line-height: 1.1;
  }
}

.hero__icons-section {
  width: 50%;

  @include tablets {
    display: none;
  }
}